name: Build and Push Docker Image

on:
  pull_request:
    branches: 
      - main
    types: [closed] # Trigger on merges to main
  push:
    tags:
      - 'v*'  # Trigger on semantic version tags (e.g., v1.0.0)

jobs:
  build:
    if: github.event.pull_request.merged == true || startsWith(github.ref, 'refs/tags/v*')
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Required for OIDC auth
      contents: read 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set IMAGE_TAG
        run: |
          REF="${{ github.ref }}"
          if [[ $REF == refs/tags/v* ]]; then
            echo "IMAGE_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "IMAGE_TAG=latest" >> $GITHUB_ENV
          fi

      - name: Echo IMAGE_TAG
        run: |
          echo "IMAGE_TAG: $IMAGE_TAG"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.ECR_ROLE }}
          role-session-name: Tahoe-Telemetry-Server-GHA-OIDC
          aws-region: ${{ secrets.ECR_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: "${{ secrets.DOCKER_REPO}}:${{ env.IMAGE_TAG }}"
